<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>{{- partial "head.html" . -}}</head>
    <body>
        <div id="full_body">
            <header id="header" class="top-section">
                {{- partial "body_header.html" . -}}
                {{ with $.Param "headername" }}<div id="header-text">{{ . }}</div>{{ end -}}
            </header>
                        </nav>
                    </div>
                </div>
            </div>
            <footer id="footer" class="top-section">
                {{- partial "body_footer.html" . -}}
            </footer>
            {{- partial "foot.html" . -}}
        </div>
    </body>
    {{ range .Params.js }}
    <script src="{{ . }}"></script>
    {{ end }}
</html>
